@font-face {
  font-family: 'NouvelR';
  src: url('fonts/NouvelR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #000;
  font-family: Arial, sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 100%;
}

.header {
  background-color: black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  display: flex;
}

.logo{
  width:27px;
  margin-left: 16px;
}

.content{
  height: 90vh;
}
.arkana-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px;
  text-align: end;
  font-family: 'NouvelR', sans-serif;
}


@media only screen and (min-width: 670px) {
  .logo {
    width: 36px;
  }
  .header {
    min-height: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 64px;
    margin-left: 32px;
  }
  .header {
    min-height: 150px;
  }

}

@media only screen and (max-width: 768px) {
  .arkana-image {
      object-position: left;
      /* shifts the focus to the right */
    }

  .content{
    height:79vh
  }
}
